body {
  background: #fafafa;
}

.command_button {
  position: absolute;
  right: 10;
  bottom: 15;
}

.execute-button {
  position: absolute;
  right: 4;
  bottom: 7;
}

.mdl-textfield {
  margin-left: 10px; 
  margin-top: -5px;
  margin-bottom: -12px;
  bottom: -5;
}

.demo-card-wide.mdl-card {
  width: 512px;
  box-sizing: border-box;
  padding-left: 8px;
  padding-top: 4px;
}

.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('../assets/welcome_card.jpg') center / cover;
}

.mdl-grid .mdl-cell {
  height: 200px;
}

.mdl-grid.center-items {
  justify-content: center;
}

.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
